.wrap{
    background-color: #cccccc;
    width: 80%;
    margin: 0 auto;
    display: flex;

}
.left{
    background-color: aquamarine;
    height: 100px;
    flex: 0 200px;
}
.right{
    background-color: darkorange;
    flex: 1;
}

