.wrap{
    background-color: #cccccc;
    width: 100%;
    margin: 0 auto;
    height: 400px;
}
body{
    margin: 0;
}

/*absolute*/
.left{
    background-color: aquamarine;
    width: 200px;
    position: absolute;
    left: 0;
}
.right{
    background-color: darkorange;
    width: auto;
    position: absolute;
    right: 0;
    left: 200px;
    text-wrap: normal;
}

