*{
    margin: 0;
}
header{
    width: 100%;
    background-color: #282828;
}
.banner{
    width: 100%;
    background-color: #66BB33;
}
.nav{
    width: 100%;
    border-bottom: 1px solid #cccccc;
}
.content{
    width: 960px;
    margin: 0 auto;
    display: flex;
}
footer{
    background-color: #505050;
    width: 100%;
    height: 200px;
}
/**/
.header-c{
    width: 960px;
    margin: 0 auto;
    height: 80px;
}
.logo{
    width: 80px;
    height: 80px;
    float: left;
}
p{
    font-size: 23px;
    color: white;
    line-height: 80px;
}
.header-nav{
    float: right;
}
.header-nav-li>li{
    font-size: 15px;
    color: white;
    text-decoration: underline;
}
/**/
.banner-img{
    width: 100%;
    height: 350px;
}
.banner-list{
    width: 960px;
    overflow: auto;
    margin: 0 auto;
}
.banner-li{
    float: right;
    margin-bottom: 10px;
}
.banner-li>li{
    width: 25px;
    height: 28px;
    border: 1px solid black;
    background-color: rgba(243, 246, 255, 0.4);
    text-align: center;
    line-height: 28px;
}
.banner-li .selected{
    padding-top: 10px;
    background-color: rgba(243, 246, 255, 0.8);
}
/**/
.nav-c{
    width: 960px;
    margin: 0 auto;
}
.nav-li{
    margin-top: 24px;
    padding: 0;

}
.nav-li>li{
    width: 80px;
    height: 40px;
    background-color: #bbbbbb;
    border: 1px solid #cccccc;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    text-align: center;
    line-height: 40px;
}
.nav-li .selected{
    border-bottom: white;
    background-color: white;

}
/**/
.content>div{
    border: 1px solid #cccccc;
    padding: 80px;
    margin-top: 8px;
    margin-right: 5px;
    flex-grow: 1;
    flex-shrink: 0;
    text-align: center;
}
.content{
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

/**/
.txt{
    width: 100%;
    text-align: center;

}
.txt p{
    font-size: 15px;
}
ul,li{
    display: inline-block;
    list-style: none;
}